{% extends 'base.html.twig' %}

{% block title %}CB agrégation{% endblock %}

{% block body %}
    <a href="{{ url('app_user') }}" class="btn">Utilisateurs</a>
    <div class="divider"></div>
{% endblock %}
