{% extends "base.html.twig" %}

{% block body %}
    <h1>Dépôt</h1>

    <form method="post" action="/depot">
        <label class="input input-bordered flex items-center gap-2">
            Intituler
            <input type="text" name="intitule" class="grow" placeholder="Intituler du dépot" />
        </label>
        <label class="input input-bordered flex items-center gap-2">
            Montant
            <input type="number" name="montant" class="grow" placeholder="Montant à déposer" min="1" />
        </label>
        <div class="divider"></div>
        <button class="btn btn-neutral">Déposer</button>
    </form>

    <div class="mt-4">
        <a href="/">Retour au compte</a>
    </div>
{% endblock %}
